/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #0b000f;
    color: #fefcfb;
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
nav {
    background-color: #392588; /* Medium Purple */
    padding: 1em;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #cebeff; /* Light Purple */
    font-family: 'Bodoni Moda', serif;
}

/* Page 2 */

/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #0b000f;
    color: #fefcfb;
    margin: 0;
    padding: 0;
}

/* Section: Meet*/

.section-meet {
    position: relative;
    padding: 9rem;
    background-color: #030048;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: #18b4e0;
    height: 15em;
    overflow: visible;
}

.section-meet__content {
    position: absolute;
    top: 3px;
    bottom: 9em;
    padding: 9rem;
    background-color: #030048;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 18rem);
    box-sizing: border-box;
}

/* Section: Meet header*/
.section-meet__header {
    text-align: center;
    padding: 1em;
}

.section-meet__title {
    font-family: 'Bodoni Moda', serif;
    font-size: 2em;
    color: #fefcfb;
}

/* Section: Meet body*/
.section-meet__body {
    display: flex;
    justify-content: start;
    width: 75vw;
    margin-top: 1em;
}
/* Section Meet Column Styles */
.section-meet__column {
    position: absolute;
    height: 300px;
    width 300px;
    bottom: -1em;
    background-color: transparent;
    border: 2px solid #fefcfb;
    padding: 1em;
    box-sizing: border-box;
}

/* Left Column Styles */
.section-meet__column_left {
    left: -10%;
}

/* Right Column Styles */
.section-meet__column_right {
    right: -10%;
}


.section-meet__column {
    width: 48%;
    text-align: left;
}

.section-meet__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #cebeff;
}

.section-meet__image-container {
    margin-top: 2em;
    text-align: center;
}

.section-meet__image {
    max-width: 100%;
    height: auto;
}

.section-meet-grid__object {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 33px;
    top: 100%;
    left: 50%;
    background-color: #190169;
    border: 2px solid #fefcfb;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 2;
}


/* Section: Works Complete */

.section-works {
    position: relative;
    padding: 9rem;
    background-color: #030048;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: #18b4e0;
    height: 100vh;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-works__content {
    position: absolute;
    top: 3px;
    bottom: 9em;
    padding: 9rem;
    background-color: #22018d;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 18rem);
    box-sizing: border-box;
}

.section-works__header {
    text-align: center;
    padding: 1em;
}

.section-works__title {
    font-family: 'Bodoni Moda', serif;
    font-size: 2em;
    color: #fefcfb;
}

.section-works__body {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.section-works__column {
    width: 48%;
    text-align: left;
}

.section-works__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #cebeff;
}

.section-works__image-container {
    margin-top: 2em;
    text-align: center;
}

.section-works__image {
    max-width: 100%;
    height: auto;
}

/*
.section-works-grid__object {
    position: absolute;
    width: 700px;
    height: 700px;
    top: 30%;
    left: 50%;
    background-color: #22018D;
    border: 2px solid #fefcfb;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 2;
}

#grid-object-3 {
    position: absolute;
    width: 700px;
    height: 700px;
    top: 80%;
    left: 50%;
    background-color: #22018D;
    border: 2px solid #f5a57d;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 1;
}

#grid-object-2 {
    position: absolute;
    width: 1100px;
    height: 1100px;
    top: 50%;
    left: 50%;
    background-color: #2b02b0;
    border: 2px solid #fefcfb;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 0;
}

*/

/* Section: Our Values */
/*
.section-values {
    position: relative;
    padding: 9rem;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: #18b4e0;
    top: 3em;
    overflow: visible;
}

.section-values__content {
    position: absolute;
    top: 3px;
    bottom: 9em;
    padding: 9rem;
    background-color: transparent;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 18rem);
    box-sizing: border-box;
}

.section-values__header {
    text-align: center;
    padding: 1em;
}

.section-values__title {
    font-family: 'Bodoni Moda', serif;
    font-size: 2em;
    color: #fefcfb;
}

.section-values__body {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.section-values__column {
    width: 48%;
    text-align: left;
}

.section-values__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #cebeff;
}

.section-values__image-container {
    margin-top: 2em;
    text-align: center;
}

.section-values__image {
    max-width: 100%;
    height: auto;
}

.section-values-grid__object {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0%;
    left: 50%;
    background-color: #190169;
    border: 2px solid #fefcfb;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 2;
}
*/
