/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2C003E; /* Dark Purple */
    color: #B399FF; /* Light Purple */
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
nav {
    background-color: #5D3FD3; /* Medium Purple */
    padding: 1em;
    position: sticky;
    height: 3vh;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #cebeff; /* Light Purple */
    font-family: 'Bodoni Moda', serif;
}
.hero-section {
    background-color: #0b000f;
}
/* Hero Banner Styles */
.hero-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://i.ibb.co/QKQD6zT/lum-header-reference1-transformed.png') no-repeat center center;
    background-color: #0b000f;
    background-size: cover;
    padding: 5em 1em;
    text-align: center;
    top: 20px;
    height: 100vh;
    z-index: 2;
}

/* Left and Right Wrapper Styles */
/* Circle Styles */

.circle {
    position: absolute;
    width: 20em; /* Adjust size as needed */
    height: 20em; /* Adjust size as needed */
    border: 2px solid rgba(255, 105, 180, 0.2);  /* Pink border with no fill */

    border-radius: 50%;
    box-sizing: border-box;
}
/* Positioning each circle individually */
#cir-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cir-2 {
    top: calc(50% - 25vh);
    left: 50%;
    transform: translate(-50%, -50%);
}

#cir-3 {
    top: calc(50% + 25vh);
    left: 50%;
    transform: translate(-50%, -50%);
}

#cir-4 {
    top: 50%;
    left: calc(50% - 25vh);
    transform: translate(-50%, -50%);
}

#cir-5 {
    top: 50%;
    left: calc(50% + 25vh);
    transform: translate(-50%, -50%);
}

#cir-6 {
    top: calc(50% - 25vh * cos(30deg));
    left: calc(50% - 25vh * sin(30deg));
    transform: translate(-50%, -50%);
}

#cir-7 {
    top: calc(50% - 25vh * cos(30deg));
    left: calc(50% + 25vh * sin(30deg));
    transform: translate(-50%, -50%);
}

#cir-8 {
    top: calc(50% + 25vh * cos(30deg));
    left: calc(50% - 25vh * sin(30deg));
    transform: translate(-50%, -50%);
}

#cir-9 {
    top: calc(50% + 25vh * cos(30deg));
    left: calc(50% + 25vh * sin(30deg));
    transform: translate(-50%, -50%);
}

#cir-10 {
    top: calc(50% - 50vh);
    left: 50%;
    transform: translate(-50%, -50%);
}

#cir-11 {
    top: calc(50% + 50vh);
    left: 50%;
    transform: translate(-50%, -50%);
}

#cir-12 {
    top: 50%;
    left: calc(50% - 50vh);
    transform: translate(-50%, -50%);
}

#cir-13 {
    top: 50%;
    left: calc(50% + 50vh);
    transform: translate(-50%, -50%);
}

#cir-14 {
    top: calc(50% - 25vh * cos(30deg) * 2);
    left: calc(50% - 25vh * sin(30deg) * 2);
    transform: translate(-50%, -50%);
}

#cir-15 {
    top: calc(50% - 25vh * cos(30deg) * 2);
    left: calc(50% + 25vh * sin(30deg) * 2);
    transform: translate(-50%, -50%);
}

#cir-16 {
    top: calc(50% + 25vh * cos(30deg) * 2);
    left: calc(50% - 25vh * sin(30deg) * 2);
    transform: translate(-50%, -50%);
}

#cir-17 {
    top: calc(50% + 25vh * cos(30deg) * 2);
    left: calc(50% + 25vh * sin(30deg) * 2);
    transform: translate(-50%, -50%);
}

#cir-18 {
    top: 50%;
    left: calc(50% - 75vh);
    transform: translate(-50%, -50%);
}

#cir-19 {
    top: 50%;
    left: calc(50% + 75vh);
    transform: translate(-50%, -50%);
}

/* Left and Right Wrapper Styles */
.left-wrap,
.right-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1); /* Adding background for visibility */
    height: 9rem;
    width: 27rem;
}

.left-wrap {
    left: -5%;
    margin-left: 9rem;
}

.right-wrap {
    right: -5%;
    margin-right: 9rem;
}

/* Left and Right Content Styles */
.left-content,
.right-content {
    position: absolute;
    top: 47%; /* Adjusted position */
    transform: translateY(-50%);
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); /* Adding background for visibility */
}

.left-content {
    left: -2%;
    margin-left: 2.7%;
    margin-right: .8rem;
    text-align: left;
}

.right-content {
    right: -2%;
    margin-right: 2.7%;
    margin-left: .5rem;
    text-align: right;
}

/* Center Wrapper and Image Styles */

.center-wrap {
    width: 80vh;
    height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    border-radius: 50%;
    z-index: 1;

/*outward gradient effect */
 /* Create gradient effect */
 background: linear-gradient(to right, rgba(93, 63, 211, 0.2), rgba(93, 63, 211, 0));
 background-clip: border-box; /* Ensure background gradient doesn't bleed into content */
 overflow: hidden; /* Prevent content overflow */
}

.center-wrap::before {
 content: '';
 position: absolute;
 top: -10px; /* Position relative to the border width */
 left: -10px; /* Position relative to the border width */
 right: -10px; /* Position relative to the border width */
 bottom: -10px; /* Position relative to the border width */
 border-radius: 50%;
 background: radial-gradient(circle, rgba(93, 63, 211, 0.2) 0%, rgba(93, 63, 211, 0) 70%);
 z-index: -1; /* Ensure it sits behind the content */
 border: 10px solid rgba(93, 63, 211, 0.2); /* Solid purple border */
}

.center-image {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8)); /* Translucent White */
}

/* Text Styles */
h2 {
    font-family: 'Bodoni Moda', serif;
    color: #B399FF; /* Light Purple */
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #B399FF; /* Light Purple */
}

/* Header Overlay Styles */
header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header > .hero-banner > * {
    position: relative;
    z-index: 2;
}

/* section 2 - Introduction */
/* section 2 - Introduction */
/* section 2 - Introduction */
/* background Circle in Section-Introduction */
#blue-circle {
    position: absolute;
    top: calc(-33%);
    left: 50%;
    width: 80vh; /* Same width and height as the .center-wrap */
    height: 80vh;
    border: 0px solid blue; /* Blue border */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: #0b000f; /* Background color */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Downward shadow with blur */
}


/* Introduction Section Styles */
.section-introduction {
    position: relative;
    margin: 3em;
    padding: 2em;
    /*background-color: #2C003E;  Dark Purple */
    background-size: cover;
    background: url('images/untitled_artwork.png') no-repeat center center;
    color: #0b000f;
    text-align: center;
    z-index: 1;
}

.section-introduction__content {
    max-width: 800px;
    margin: 0 auto;
    z-index: 2;
}

.section-introduction__header {
    margin-bottom: 2em;
    z-index: 3;
}

.section-introduction__title {
    position: relative;
    z-index: 3;
    color: #B399FF;
    text-align: center;
    margin-bottom: 2em;
}

.section-introduction__body {
   postion: relative;
   height: 300px;
    gap: 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
    z-index: 2;
}

.section-introduction__column {
    flex: 1;
    padding: 0 1em;
}

.section-introduction__column_left {
    position: absolute;
    margin-left: 9rem;
    top: 10.5em;
    left: -7em;
    width: 30%; /* Adjust width as needed */
    padding: 10px;
    box-sizing: border-box;

    text-align: left;
     /* Specific styles for the left column */
}

.section-introduction__column_right {
    position: absolute;
    top: 10.5em;
    right: -7em;
    width: 30%; /* Adjust width as needed */
    margin-right: 9rem;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}

.section-introduction__text {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1em;
}

.section-introduction__image-container {
    text-align: center;
}

.section-introduction__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Projects Section Styles */
/* Container for the vertical line */
.vertical-line-container {
    .vertical-line-container {
        position: absolute;
        top: 0;
        left: 50%; /* Center horizontally within the parent */
        width: 2px; /* Width of the line */
        height: 100%; /* Height of the line */
        background-color: rgb(0, 47, 255); /* Color of the line */
        transform: translateX(-50%); /* Center the line horizontally */
        box-sizing: border-box;
    }
}

/* Vertical line */
.vertical-line-container::before {
    content: "";
    position: absolute;
    top: 50%; /* Adjust to position vertically */
    left: 80%; /* Adjust to position horizontally */
    width: 2px; /* Width of the line */
    height: 100%; /* Height of the line */
    background-color: rgb(0, 47, 255); /* Color of the line */
    transform: translate(-50%, -50%) rotate(0deg); /* Adjust translate and rotate as needed */
    transform-origin: center; /* Ensures rotation happens from the center */
    rotate: -36deg;
}

/* Projects Section Styles */
/* Projects Section Styles */
/* Projects Section Styles */

.section-projects__content {
    height: 67vh;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid rgb(92, 2, 2);
}

.section-projects {
    position: relative;
    padding: 2em;
    height: 66vh;
    background-color: #5D3FD3; /* Medium Purple */
    color: #fefcfb; /* Light color */
    text-align: center;
}

.section-projects__column {
    position: absolute;
    top: 56%;
    left: 50%;
    width: 72%; /* One third of the screen */
    height: 27em;
    padding: 0 1em;
    border: 2px solid red;
    border-radius: 9px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.section-projects__header {
    margin-bottom: 2em;
    border: 2px solid #9686d6 (251, 139, 139);
}

.section-projects__title {
    font-family: 'Bodoni Moda', serif;
    margin-bottom: 1em;
}

.section-projects__body {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
}


.section-projects__column_left {
    text-align: left;
}

.section-projects__column_right {
    text-align: left;
}

.section-projects__list {
    list-style: disc;
    padding-left: 1em;
}

.section-projects__list li {
    margin-bottom: 0.5em;
}

/* Modal Container Styles */
.modal-container {
    position: absolute;
    top: 56%;
    left: 50%;
    width: 72%;
    height: 27em;
    padding: 0 1em;
    border: 2px solid #9686d6;
    border-radius: 9px;
    transform: translate(-50%, -50%);
    background-color: #8c7ece; /* Match section-projects background */
    box-sizing: border-box;
    overflow: hidden; /* Ensure the overlay doesn't exceed the modal bounds */
}

/* Left Column Styles */
.modal-column__banner {
    flex: 1;
    background-color: #5D3FD3;
    border-radius: 6px;
    position: relative;
    top: 1.5em;
    z-index: 1;
    padding: 1em;
    box-sizing: border-box;
}

/* Right Column Styles */
.modal-column__banner2 {
    flex: 1;
    background-color: #5D3FD3;
    position: relative;
    z-index: 1;
    padding: 1em;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
}
